
  
  .deal-box {
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        rgb(118, 39, 192),
        rgba(17, 17, 34, 0.397) 50%,
        rgba(34, 17, 51, 0.336)
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;

    &:hover {
        animation-play-state: paused;
      }
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  